
* {
overflow: hidden;
color: white;
font-weight: lighter;
font-family: Georgia, serif;
}

.canvas {
border:1px solid #000000;
border-radius: 25px;
background-color: white;
}

.colors {
position: absolute;
top: 21%;
right: 8%;
}

.colorHeading {
font-size: 200%;
padding-bottom: 50px;
}

.button {
border-radius: 100%;
border-width: 1px;
width: 50px;
height: 50px;
margin: 10px;
}

.button-selected {
outline: none;
box-shadow: none;
border-width: 3px;
width: 60px;
height: 60px;
}

.btn:hover {
outline: none;
}

h1 {
  font-size: 45px;
  color: #ffd460;
}

.sizeDemo {
 border-style: solid;
 border-width: 1px;
 height: 20px;
 width: 20px;
 background-color: black;
 border-radius: 100%;
 display: inline-block;
 margin-left: 50px;
 position: absolute;
 left: 1050px;
 bottom: 15px;
}

.black {
background-color: black;
}

.white {
background-color: white;
}

.red {
background-color: red;
}

.blue {
background-color: blue;
}

.green {
background-color: green;
}

body {
text-align: center;
background-color: black;
}

p {
  color: #ffd460;
}

.slidecontainer {
width: 100%;
}

.slider {
-webkit-appearance: none;
width: 40%;
height: 25px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: #4CAF50;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
background: #4CAF50;
cursor: pointer;
}

table {
font-size: 15px;
height: 500px;
width: 125px;
border-radius: 15px;
background-color: #00e0ff;
border-spacing: 2px;
}

th {
  color: #f85f73;
}

.clear {
  position: absolute;
  right: 133px;
  bottom: 20px;
  height: 50px;
  font-size: 150%;
  color: white;
  background-color: red;
  font-family: Georgia, serif;
  font-weight: bold;
  border-radius: 10%;
  border-style: none;
}

.clear:focus{
  outline: none;
  box-shadow: none;
}
